@media only screen and (max-width:768px) {
    .navbar__nav .fa-bars{
        display: block;
    }
    .navbar__nav a{
        display: none;
    }
    .navigation2 {
        display: none;
        background-color: rgba(0, 0, 0, 0);
    }
    button{
        padding: 15px 40px;
        font-size: 1.3rem;
        border:0 ;
        color: white;
        transition: all 0.5s linear;
    }
    .contact__content .item{
        padding: 5rem 2rem;
    }
    .banner .item .but {
        display: flex;
    }
    .banner .item img{
        display: none;
    }
    .banner .item h1{
        font-size: 2.4rem;
        opacity: 0.8;
        margin-bottom: 1rem;
        margin-left: 50px;
    }
    .banner .item span{
        color: #FE5B29;
        font-size: 2rem;
    }
    .about__content, .best__content, .why__content, .says__content{
        display: grid;
        grid-template-columns: 1fr;
    }
    .says__content .item{
        margin-bottom: 2rem;
    }
    .cars__content .item form select{
        width: 90%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 1rem;
    }
    .footer__content{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        color: gray;
    }
    .footer .title img{
        width: 25%;
        height: 50%;
    }
    .footer__content .item form textarea::placeholder{
        text-align: center;
    }
}